In [10]:
import pandas as pd

In [11]:
datapf = pd.read_csv('Pace of life.csv',
                     usecols = ["City","Walk","Bank","Talk","Heart"])
datapf

              City  Walk  Bank  Talk  Heart
0           Boston    28    31    24     24
1          Buffalo    23    30    23     29
2         New York    24    29    18     31
3   Salt Lake City    28    28    23     26
4         Columbus    22    27    30     26
5        Worcester    25    26    24     20
6       Providence    26    30    24     17
7      Springfield    30    28    21     19
8        Rochester    22    33    18     26
9      Kansas City    22    33    22     24
10        St Louis    23    22    23     26
11         Houston    25    30    20     25
12        Paterson    23    32    23     14
13     Bakersfield    18    29    25     11
14         Atlanta    27    25    27     19
15         Detroit    22    24    14     24
16      Youngstown    23    27    24     20
17    Indianapolis    22    26    24     13
18         Chicago    23    24    25     20
19    Philadelphia    12    31    19     18
20      Loiusville    23    27    17     16
21          Canton    20    28    18     19
22       Knoxville    20    21    17     23
23   San Francisco    22    19    18     11
24     Chattanooga    14    34    22     27
25          Dallas    20    24    23     18
26          Oxnard    17    25    19     15
27       Nashville    26    25    19     20
28       San Diego    19    20    22     18
29    East Lansing    23    22    23     21
30          Fresno    13    26    22     11
31         Memphis    16    29    21     14
32        San Jose    17    25    18     19
33      Shreveport    17    22    15     15
34      Sacramento    16    24    10     18
35     Los Angeles    20    13    12     16

In [12]:
datapf.count()

City     36
Walk     36
Bank     36
Talk     36
Heart    36
dtype: int64

In [15]:
datapf.columns

Index(['City', 'Walk', 'Bank', 'Talk', 'Heart'], dtype='object')

In [19]:
datapf.dtypes

City     object
Walk      int64
Bank      int64
Talk      int64
Heart     int64
dtype: object

In [20]:
datapf[["City","Walk","Bank","Talk","Heart"]]

              City  Walk  Bank  Talk  Heart
0           Boston    28    31    24     24
1          Buffalo    23    30    23     29
2         New York    24    29    18     31
3   Salt Lake City    28    28    23     26
4         Columbus    22    27    30     26
5        Worcester    25    26    24     20
6       Providence    26    30    24     17
7      Springfield    30    28    21     19
8        Rochester    22    33    18     26
9      Kansas City    22    33    22     24
10        St Louis    23    22    23     26
11         Houston    25    30    20     25
12        Paterson    23    32    23     14
13     Bakersfield    18    29    25     11
14         Atlanta    27    25    27     19
15         Detroit    22    24    14     24
16      Youngstown    23    27    24     20
17    Indianapolis    22    26    24     13
18         Chicago    23    24    25     20
19    Philadelphia    12    31    19     18
20      Loiusville    23    27    17     16
21          Canton    20    28    18     19
22       Knoxville    20    21    17     23
23   San Francisco    22    19    18     11
24     Chattanooga    14    34    22     27
25          Dallas    20    24    23     18
26          Oxnard    17    25    19     15
27       Nashville    26    25    19     20
28       San Diego    19    20    22     18
29    East Lansing    23    22    23     21
30          Fresno    13    26    22     11
31         Memphis    16    29    21     14
32        San Jose    17    25    18     19
33      Shreveport    17    22    15     15
34      Sacramento    16    24    10     18
35     Los Angeles    20    13    12     16

Lo que representan las varibles son lo siguiente: la variable City
indica la ubicación en cuestión donde se analiza el ritmo de vida de 
las personas. Walk indica la rapidez media de un peatón al caminar.
Bank representa el tiempo promedio de un empleado para dar cambio.
Talk representa la rapidez promedio de conversación de un empleado 
postal. Heart indica la tasa de mortalidad por edad causada por
enfermedad cardiaca.

In [21]:
print("EL rango de Walk es de",datapf['Walk'].min(),
      " a",datapf['Walk'].max())

print("EL rango de Bank es de",datapf['Bank'].min(),
      " a",datapf['Bank'].max())

print("EL rango de Talk es de",datapf['Talk'].min(),
      " a",datapf['Talk'].max())
print("EL rango de Heart es de",datapf['Heart'].min(),
      " a",datapf['Heart'].max())

EL rango de Walk es de 12  a 30
EL rango de Bank es de 13  a 34
EL rango de Talk es de 10  a 30
EL rango de Heart es de 11  a 31

In [22]:
print("La media de Walk es",datapf['Walk'].mean(),".",
      "La mediana de Walk es",datapf['Walk'].median(),".",
      "La desviación estándar de Walk es",datapf['Walk'].std(),".")

print("La media de Bank es",datapf['Bank'].mean(),".",
      "La mediana de Bank es",datapf['Bank'].median(),".",
      "La desviación estándar de Bank es",datapf['Bank'].std(),".")

print("La media de Talk es",datapf['Talk'].mean(),".",
      "La mediana de Talk es",datapf['Talk'].median(),".",
      "La desviación estándar de Talk es",datapf['Talk'].std(),".")

print("La media de Heart es",datapf['Heart'].mean(),".",
      "La mediana de Heart es",datapf['Heart'].median(),".",
      "La desviación estándar de Heart es",datapf['Heart'].std(),".")

La media de Walk es 21.416666666666668 . La mediana de Walk es 22.0 . La desviación estándar de Walk es 4.285357127974951 .
La media de Bank es 26.36111111111111 . La mediana de Bank es 26.5 . La desviación estándar de Bank es 4.408775520175822 .
La media de Talk es 20.75 . La mediana de Talk es 22.0 . La desviación estándar de Talk es 4.129164564412516 .
La media de Heart es 19.805555555555557 . La mediana de Heart es 19.0 . La desviación estándar de Heart es 5.214372688989782 .