In [4]:
import matplotlib.pylab as plt
from sklearn import metrics
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
data = pd.read_csv('Child smokers.csv')
data

     Age (years)  Height (cm)  FEV (litres)     Sex  Smoker
0              9          145         1.708  female     non
1              8          171         1.724  female     non
2              7          138         1.720  female     non
3              9          135         1.558    male     non
4              9          145         1.895    male     non
..           ...          ...           ...     ...     ...
649           15          152         2.278  female  smoker
650           16          183         4.872    male  smoker
651           16          170         4.270    male  smoker
652           15          173         3.727    male  smoker
653           16          160         2.795  female  smoker

[654 rows x 5 columns]

In [6]:
data.shape

(654, 5)

In [7]:
data.columns

Index(['Age (years)', 'Height (cm)', 'FEV (litres)', 'Sex', 'Smoker'], dtype='object')

In [8]:
data.dtypes

Age (years)       int64
Height (cm)       int64
FEV (litres)    float64
Sex              object
Smoker           object
dtype: object

In [9]:
data.describe()

       Age (years)  Height (cm)  FEV (litres)
count   654.000000   654.000000    654.000000
mean      9.931193   155.298165      2.636780
std       2.953935    14.471647      0.867059
min       3.000000   117.000000      0.791000
25%       8.000000   145.000000      1.981000
50%      10.000000   156.000000      2.547500
75%      12.000000   166.000000      3.118500
max      19.000000   188.000000      5.793000

In [39]:
data['Sex'] = data['Sex'].astype('category').cat.codes
data['Smoker'] = data['Smoker'].astype('category').cat.codes
data

     Age (years)  Height (cm)  FEV (litres)  Sex  Smoker
0              9          145         1.708    0       0
1              8          171         1.724    0       0
2              7          138         1.720    0       0
3              9          135         1.558    1       0
4              9          145         1.895    1       0
..           ...          ...           ...  ...     ...
649           15          152         2.278    0       1
650           16          183         4.872    1       1
651           16          170         4.270    1       1
652           15          173         3.727    1       1
653           16          160         2.795    0       1

[654 rows x 5 columns]

In [40]:
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
data1 = data
data2 = min_max.fit_transform(data1.values)
data2 = pd.DataFrame(data2, columns=data1.columns)
data2

     Age (years)  Height (cm)  FEV (litres)  Sex  Smoker
0         0.3750     0.394366      0.183327  0.0     0.0
1         0.3125     0.760563      0.186525  0.0     0.0
2         0.2500     0.295775      0.185726  0.0     0.0
3         0.3750     0.253521      0.153339  1.0     0.0
4         0.3750     0.394366      0.220712  1.0     0.0
..           ...          ...           ...  ...     ...
649       0.7500     0.492958      0.297281  0.0     1.0
650       0.8125     0.929577      0.815874  1.0     1.0
651       0.8125     0.746479      0.695522  1.0     1.0
652       0.7500     0.788732      0.586965  1.0     1.0
653       0.8125     0.605634      0.400640  0.0     1.0

[654 rows x 5 columns]

In [41]:
from sklearn.cluster import KMeans
clu = KMeans(n_clusters=3)
clu.fit(data2)
clu.cluster_centers_

array([[4.17943548e-01, 5.53066788e-01, 3.88520721e-01, 1.00000000e+00,
        2.77555756e-16],
       [3.97849462e-01, 4.84072896e-01, 3.17515288e-01, 1.11022302e-15,
        2.63677968e-16],
       [6.57692308e-01, 7.11809317e-01, 4.96973518e-01, 4.00000000e-01,
        1.00000000e+00]])